# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/
env/

# Django
db.sqlite3
media/
staticfiles/
*.log

# Environment variables
.env

# IDEs / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
todo.txt
